rampage.sms
src/rom_header.c
res/resources.h
out/
*.bin
*.out
*.o
*.lst
*.d
*.sym
__pycache__/
*.pyc
audio/converted/*
!audio/converted/.gitkeep
tools/audio/audio_lab/target/
tools/audio/oxide_probe/target/
src/generated_audio.c
src/generated_audio.h
